nav {
  background-color: blue;
  display: grid;
  color: white;
  grid-template-columns: 1fr 4fr 1fr;
}

.menu {
  display: none;
}

.home-block {
  background-color: blue;
  color: white;
}

button {
  background-color: #2c9af4;
  border: none;
  color: white;
}

ul {
  display: flex;
  list-style-type: none;
  float: right;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

li {
  padding: 0 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 10px;
}

button:hover {
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}

/* --------------------------------------- */

.home-block {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-right {
  margin-top: -100px;
  display: flex;
}

.home-left h1 {
  padding-right: 304px;
  margin-top: 185px;
  font-size: 3rem;
  margin-left: 50px;
}

.home-left p {
  padding-right: 53px;
  margin-top: 47px;
  margin-left: 46px;
}

/* ------------Last Page-------- */

.last {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.last-right h1 {
  padding-right: 337px;
}

.last-right {
  padding-left: 202px;
  margin-top: 80px;
}

.features div p {
  padding-right: 302px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1200px;
}

.slogan {
  text-align: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.banner div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap {
  background-color: antiquewhite;
  width: 70px;
  height: 70px;
  border-radius: 70px;
}

.banner > div > p {
  padding: 0 33px;
  margin-left: 39px;
  margin-top: -10px;
}

/* ------------------ */
/*    MEDIA QUERY     */
/* ------------------ */

@media only screen and (max-width: 950px) {
  
    .menu {
        display: block;
    }

    body {
        overflow-x: hidden;
    }

    ul, .btn {
        display: none;
    }

    .logo {
        margin: 30px 0 40px 20px;
    }

    .menu {
        font-size: 2.3rem;
        margin: 35px;
    }

    .home-block {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 70vh;
    }

    .home-left h1 {
        padding-right: 0px;
        margin-top: 85px;
        font-size: 50px;
        margin-left: 0px;
        padding: 0 5px;
    }

    .home-right {
        margin-top: 90px;
    }

    .home-right img {
        width: 500px;
    }

    .last {
        display: flex;
        flex-direction: column;
    }

    .last-right {
        padding-left: 0px;
        margin-top: 80px;
        text-align: center;
    }

    .last-right h1 {
        padding-right: 0px;
        padding: 0 20px;
        text-align: center;
    }

    .features div p {
        padding-right: 0px;
        padding: 0 140px;
        text-align: center;
    }

    .banner {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      
      .banner > div > p {
        padding: 0 0px;
        margin-left: 0px;
        margin-top: 0px;
      }

}
